.header__main-illustration{
    background-image: url(../../../images/header-image.png);
    width: 100%;
    width: 765px;
    height: 608px;
    position: absolute;
    background-size: cover;
    bottom: 0;
    right: 0;
    z-index: 1;
  }